<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">LOGIN</h1>
          <hr class="mb-4">
          <form class="text-center">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Ingrese email">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Ingrese password">
            </div>
            <button class="btn btn-primary mb-4 col-md-12">Ingresar</button>

            <p>O ingrese con:</p>
            <button class="btn btn-outline-primary mb-3 col-md-6"><i class="lab la-google-plus-g"></i> Google</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
