<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">LOGIN</h1>
          <hr class="mb-4">
          <div class="text-center">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Ingrese email" #userEmail required>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Ingrese password" #userPassword required>
            </div>
            <button class="btn btn-primary mb-4 col-md-12" (click)="authService.LogIn(userEmail.value, userPassword.value)">Ingresar</button>

            <p>O ingrese con:</p>
            <button class="btn btn-outline-primary mb-3 col-md-6" (click)="authService.GoogleAuth()"><i class="lab la-google-plus-g"></i> Google</button>

            <p>¿No tiene una cuenta?</p>
            <p><a href="/sign-up" class="mb-3">Regístrese aquí</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
