<app-navbar></app-navbar>

<div class="container">
  <!-- Application -->
  <div class="row pt-5">
      <div id="formCliente" class="col-md-4">
        <div class="alert alert-danger" role="alert">Debe rellenar todos los campos</div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Elaborar ticket</h4>
            </div>
            <div id="product-form" class="card-body">
                <div class="form-group">
                    <input type="text" id="dui" placeholder="DUI del cliente" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" id="vehiculo" placeholder="Vehiculo" class="form-control">
                </div>
                <div class="form-group">
                  <select class="form-control" id="servicio">
                    <option value="0">Seleccionar servicio</option>
                    <option *ngFor="let servicio of servicios" value="{{servicio.codigoServicio}}">{{servicio.nombreServicio}}</option>
                  </select>
                </div>

                <button *ngIf="ticket.dui == null" id="enviar" class="btn btn-primary btn-block" (click)="registrarTicket()">Crear ticket</button>
                <button *ngIf="ticket.dui != null" id="enviar" class="btn btn-primary btn-block" (click)="modificarTicket()">Modificar ticket</button>
              </div>
        </div>
      </div>

      <div id="listaRegistros" class="col-md-8">

        <div id="formBusqueda" class="card mb-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="mb-4">Busqueda de tickets</h5>

                  <div class="form-inline d-flex justify-content-between">
                    <div class="form-group">
                      <input type="text" id="textoBusqueda" placeholder="Buscar..." class="form-control" (keyup)="realizarBusqueda()">
                    </div>
                    <div class="form-group">
                      <select class="form-control" id="tipoBusqueda" (change)="realizarBusqueda()">
                        <option value="0">Seleccionar búsqueda</option>
                        <option value="1">Buscar por codigo de ticket</option>
                        <option value="2">Buscar por nombre completo</option>
                        <option value="3">Buscar por dui</option>
                        <option value="4">Buscar por nombre servicio</option>
                      </select>
                    </div>
                    <!-- <button id="buscar" class="btn btn-success" (click)="realizarBusqueda()">Buscar</button> -->
                    <button id="buscar" class="btn btn-primary" (click)="limpiarBusqueda()">Limpiar busqueda</button>
                  </div>
              </div>
          </div>
        </div>

        <h4 class="p-2 mb-2 text-center">Tickets</h4>

        <ng-container *ngIf="registrosBusqueda == null && busqueda == false">
          <div *ngFor="let registro of registros" class="card mb-4" id="{{registro.codigoTicket}}">
            <div class="card-body">
              <div class="text-right">
                <button class="btn btn-success mr-2" (click)="descargarTicket(registro.codigoTicket)" title="Descargar ticket"><i class="las la-download"></i></button>
                <button class="btn btn-primary mr-2" (click)="seleccionarTicket(registro.codigoTicket)" title="Modificar ticket"><i class="las la-edit"></i></button>
                <button class="btn btn-danger" (click)="eliminarTicket(registro.codigoTicket)" title="Eliminar ticket"><i class="las la-trash"></i></button>
              </div>
              <h5 class="card-title">Registro de visita {{registro.codigoTicket}}</h5>
              <h6 class="card-subtitle text-muted pb-3 mb-4">{{registro.nombreServicio}}</h6>

              <p class="card-text"><span><strong>Cliente</strong>: {{registro.nombresCliente}} {{registro.apellidosCliente}}</span><span><strong>DUI</strong>: {{registro.dui}}</span></p>
              <p class="card-text"><span><strong>Vehículo</strong>: {{registro.vehiculo}}</span></p>
              <p class="card-text"><span><strong>Costo de reparación</strong>: ${{registro.costoServicio}}</span><span><strong>N° de visitas</strong>: {{registro.cantVisitas}}</span><span><strong>Descuento ({{registro.porcDescuento*100}}%)</strong>: ${{registro.descuento}}</span></p>
              <p class="card-text costoTotal"><strong>COSTO TOTAL: <span>${{registro.costoTotal}}</span></strong></p>
            </div>
          </div>
        </ng-container>

        <!-- Elementos obtenidos en la busqueda -->
        <ng-container *ngIf="registrosBusqueda != null && busqueda == true">
          <div *ngFor="let registro of registrosBusqueda" class="card mb-4" id="{{registro.codigoTicket}}">
            <div class="card-body">
              <div class="text-right">
                <button class="btn btn-success mr-2" (click)="descargarTicket(registro.codigoTicket)" title="Descargar ticket"><i class="las la-download"></i></button>
                <button class="btn btn-primary mr-2" (click)="seleccionarTicket(registro.codigoTicket)" title="Modificar ticket"><i class="las la-edit"></i></button>
                <button class="btn btn-danger" (click)="eliminarTicket(registro.codigoTicket)" title="Eliminar ticket"><i class="las la-trash"></i></button>
              </div>
              <h5 class="card-title">Registro de visita {{registro.codigoTicket}}</h5>
              <h6 class="card-subtitle text-muted pb-3 mb-4">{{registro.nombreServicio}}</h6>

              <p class="card-text"><span><strong>Cliente</strong>: {{registro.nombresCliente}} {{registro.apellidosCliente}}</span><span><strong>DUI</strong>: {{registro.dui}}</span></p>
              <p class="card-text"><span><strong>Vehículo</strong>: {{registro.vehiculo}}</span></p>
              <p class="card-text"><span><strong>Costo de reparación</strong>: ${{registro.costoServicio}}</span><span><strong>N° de visitas</strong>: {{registro.cantVisitas}}</span><span><strong>Descuento ({{registro.porcDescuento*100}}%)</strong>: ${{registro.descuento}}</span></p>
              <p class="card-text costoTotal"><strong>COSTO TOTAL: <span>${{registro.costoTotal}}</span></strong></p>
            </div>
          </div>
        </ng-container>
      </div>
  </div>
</div>
